.hero-section {
	position: relative;
	padding-top: 60px;
	padding-bottom: 100px;
}
.hero-section .container {
	position: relative;
	z-index: 5;
}
.hero-text {
	padding-top: 145px;
}
.hero-text h1 {
	font-size: 80px;
	line-height: 90px;
	color: #ffffff;
	margin-bottom: 16px;
}
.hero-text p {
	font-size: 18px;
	color: #ffffff;
	line-height: 28px;
	margin-bottom: 35px;
}
.booking-form {
	background: #ffffff;
	padding: 44px 40px 50px 40px;
	border-radius: 4px;
}
.booking-form h3 {
	color: #19191a;
	margin-bottom: 36px;
}
.booking-form form .check-date {
	position: relative;
	margin-bottom: 15px;
}
.booking-form form .check-date label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}

.react-datepicker-wrapper{
	width: 100%;
}
.booking-form form .check-date .date-input {
	width: 100%;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	font-size: 16px;
	color: #19191a;
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 20px;
}
.booking-form form .check-date i {
	color: #dfa974;
	position: absolute;
	right: 18px;
	bottom: 17px;
}
.booking-form form .select-option {
	margin-bottom: 15px;
}
.booking-form form .select-option label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.booking-form form .select-option .nice-select {
	border-radius: 2px;
	border: 1px solid #ebebeb;
	height: 50px;
	line-height: 50px;
	outline: none;
	padding-left: 20px;
	width: 100%;
	float: none;
}

.booking-form form .select-option .nice-select:after {
	border-bottom: 2px solid #dfa974;
	border-right: 2px solid #dfa974;
	height: 10px;
	margin-top: 0;
	right: 20px;
	width: 10px;
	top: 36%;
}
.booking-form form .select-option .nice-select span {
	font-size: 16px;
	color: #19191a;
	text-transform: uppercase;
	font-weight: 500;
}
.booking-form form .select-option .nice-select .list {
	margin-top: 0;
	width: 100%;
}
.booking-form form button {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #dfa974;
	border-radius: 2px;
	color: #dfa974;
	font-weight: 500;
	background: transparent;
	width: 100%;
	height: 46px;
	margin-top: 30px;
}
.hero-slider {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	top: 0 !important;
}

.hero-slider.owl-carousel .owl-dots {
	position: absolute !important;
	left: 0 !important;
	bottom: 23px !important;
	width: 100% !important;
	text-align: center !important;
}

.hero-slider.owl-carousel .owl-dots button {
	height: 6px !important;
	width: 6px !important;
	background: #ffffff !important;
	opacity: 0.5 !important;
	border-radius: 50% !important;
	margin-right: 10px !important;
	-webkit-transition: all 0.3s !important;
	-o-transition: all 0.3s !important;
	transition: all 0.3s !important;
}

.hero-slider.owl-carousel .owl-dots button.active {
	width: 30px !important;
	border-radius: 50px !important;
	opacity: 1 !important;
}

.hero-slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0 !important;
}

.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .hs-item {
	height: 100% !important;
	background-size: cover !important;
	background-position: center !important;
}
